@model IEnumerable<SumidaWeb.Models.SOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MachineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseJap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MachineID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseJap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
